<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.plugin1" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Plugin1</name>
    <js-module name="Plugin1" src="www/Plugin1.js">
        <clobbers target="cordova.plugins.Plugin1" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Plugin1">
                <param name="ios-package" value="Plugin1" />
            </feature>
        </config-file>
        <source-file src="src/ios/Plugin1.m" />
        <header-file src="src/ios/Plugin1.h" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Plugin1">
                <param name="android-package" value="com.outsystems.experts.plugin1.Plugin1" />
            </feature>
             <feature name="Plugin1Kotlin">
                <param name="android-package" value="com.outsystems.experts.plugin1.Plugin1Kotlin" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Plugin1.java" target-dir="src/com/outsystems/experts/plugin1" />
        <source-file src="src/android/Plugin1Kotlin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/plugin1" />
    </platform>
</plugin>