<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.one-trust-plugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OutsystemsPluginOneTrust</name>
    
    <!-- IMPORTANT! Add the plugin to be extended as dependency -->
    <dependency id="cordova-plugin-onetrust-cmp" url="https://github.com/os-adv-dev/cordova-plugin-onetrust-cmp" />
    <dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support#2.0.3-OS1" />
    <!-- END IMPORTANT! Add the plugin to be extended as dependency -->
    
    <platform name="android">
         <!-- IMPORTANT! merges instead of clobber -->
        <js-module name="OneTrustExtended" src="www/OneTrustExtended.js"> 
            <merges target="OneTrust" />
        </js-module>
        <!-- END IMPORTANT! merges instead of clobber -->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OneTrustExtended">
                <param name="android-package" value="com.outsystems.experts.OutsystemsPluginOneTrust.OneTrustExtended" />
            </feature>
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
                <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:launchMode="singleTop" android:name="com.outsystems.experts.OutsystemsPluginOneTrust.CMPActivityExtended" android:theme="@style/Theme.AppCompat.Dialog" />
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/OneTrustExtended.java" target-dir="src/com/outsystems/experts/OutsystemsPluginOneTrust" />
        <source-file src="src/android/CMPActivityExtended.java" target-dir="src/com/outsystems/experts/OutsystemsPluginOneTrust" />

    </platform>
    <platform name="ios">
        <hook type="after_prepare" src="hooks/after_prepare_modify_bridging_header.js" />
        <preference name="CUSTOM_FONT_FILE" />
        <config-file parent="/*" target="config.xml">
            <feature name="OneTrustPlugin">
                <param name="ios-package" value="OneTrustPlugin" />
            </feature>
        </config-file>
        <!--<source-file src="src/ios/OutsystemsPluginOneTrust.swift" />-->
        <source-file src="src/ios/AppDelegate+OneTrust.swift" />

        <config-file target="*-Info.plist" parent="UIAppFonts">
            <array>
                <string>$CUSTOM_FONT_FILE</string>
            </array>
        </config-file>
    </platform>
</plugin>