<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.plugin1_extended" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Plugin1_Extended</name>

    <!-- IMPORTANT! merges instead of clobber -->
    <js-module name="Plugin1_Extended" src="www/Plugin1_Extended.js"> 
        <merges target="cordova.plugins.Plugin1" />
    </js-module>
    <!-- END IMPORTANT! merges instead of clobber -->
    
    <!-- IMPORTANT! Add the plugin to be extended as dependency -->
    <dependency id="com.outsystems.experts.plugin1" url="../Plugin1" />
    <!-- END IMPORTANT! Add the plugin to be extended as dependency -->

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Plugin1_Extended">
                <param name="android-package" value="com.outsystems.experts.plugin1_extended.Plugin1_Extended" />
            </feature>
            <feature name="Plugin1Kotlin_Extended">
                <param name="android-package" value="com.outsystems.experts.plugin1_extended.Plugin1Kotlin_Extended" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/Plugin1_Extended.java" target-dir="src/com/outsystems/experts/plugin1_extended" />
        <source-file src="src/android/Plugin1Kotlin_Extended.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/plugin1" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Plugin1_Extended">
                <param name="ios-package" value="Plugin1_Extended" />
            </feature>
        </config-file>
        <source-file src="src/ios/Plugin1_Extended.m" />
        <header-file src="src/ios/Plugin1+Plugin1_Extended.h" />
    </platform>
</plugin>